.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: rgb(98, 102, 102);
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: rgba(212, 205, 189, 0.76);
}